<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smtp.mapper.UserMapper">

    <!--    添加用户-->
    <insert id="addUser">
        insert into user
        (username,password,usermail,smtp_state,pop_state,port,identy)values
         (#{username},#{password},#{usermail},1,1,25,0)
    </insert>

</mapper>